
__pycache__/
data/

generate_project_summary.py
pdr_project_summary.txt

.pypirc
*.ipynb
main2.py
main3.py
position.py
*.gif
src_project_summary.txt
.DS_Store
.venv

palkia-indoor-positioning_project_summary.txt